/* calender design start */
.scroll-arrow-bottom {
    position: absolute;
    bottom: 100px;
    right: 190px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 16px;
    display: flex
;
    background: #0070D2;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}
.scroll-arrow-top {
    position: absolute;

    bottom: 100px;
    right: 150px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 16px;
    display: flex
;
    background: #0070D2;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}
.calender {
    /* height: 356px; */
    width: 100%;
    margin-right: 16px;
    border-radius: 16px;
    /* box-shadow: 0px 0px 2px 2px rgb(223 224 240 / 56%); */
    margin: 16px;
    padding: 20px;
    padding-top: 0px!important;
    margin-top: 0px!important;
}
.header {
    font-size: 24px;
    margin-bottom: 8px;
    color: #020240;
}
.month-row {
    display: flex
    ;
        /* background: red; */
        justify-content: space-between;
        width: 85%;
        margin: 16px 0px;
}
.weeks ul {
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.weeks ul li {
    width: calc(100% / 9);
    height: 24px;
    /* background: red; */
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-right: 6px;
}
.days ul {
    display: flex;
    flex-wrap: wrap;
}
.days ul li {
    width: calc(100% / 9);
    height: 32px;
    /* background: red; */
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;margin-right: 5px;
    margin-right: 6px;
}
/* .days ul div li {
    width: calc(100% / 7);
    height: 32px;
 
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    margin-right: 5px;
} */
/* .days ul li:hover {

} */
/* .wrapper{
    display: flex;
    align-items: center;
}
.selected-date-col{
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
}
.selected-date{
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
 
} */
.wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
 
}

.selected-date-col {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    flex-direction: column; /* Stack comboboxes vertically */
    margin: 16px;
    padding: 20px;
    padding-top: 0px!important;
    margin-top: 0px!important;
}
.selected-date-duration{
    margin-bottom: 8px;
}

.selected-date {
    margin-bottom: 8px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-date h1{
    margin-right: 8px;
    margin-left: 8px;
}
.enableDates:hover{
    background-color: rgba(183, 183, 241, 0.185);
    border-radius: 16px;
    border: 1px solid #1e1c1c;
}
.enabled{
    background-color: #0070D2;
}
.disabled{
    background-color: grey;
}
.scroll-arrow-top,
.scroll-arrow-bottom {
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
}


.selected{
    background-color: #0070D2;
    color: white;
    /* border-radius: 16px; */
}
.selected:hover{
    background-color: #0176d3 !important;
    color: #cbd8e9 !important;
    /* border-radius: 16px !important; */
}
.icon-color{
    --slds-c-icon-color-foreground-default:black;
}
@media (max-width: 680px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
}
/* calender design ends */
.header-card{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 26px;
    /* margin-top: 20px; */
    color: #3a3a45;
    font-weight: 500;
    background: #F3F3F3;
    border-bottom: 2px solid #C9C9C9;
}
.header-card h1{

color: #000000;
font-weight: 500;
size: 24px;
line-height: 19px;
letter-spacing: -1px;
margin-top: 10px;
}
.header-card h6{

    margin-bottom: 8px;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -1px;
    color: #000000;

}
/* Remove the border and outline for read-only lightning-input */
.no-border  {
    border: none !important; /* Remove border */
    box-shadow: none !important; /* Remove any shadow that could look like an outline */
    background: transparent !important; /* Optional: Make the background transparent */
    outline: none !important;
    font-size:  0.75rem;
    color:#696969;
    margin-top: 1px !important;
}
.error{
    color:red !important;
}
.head-div{
    /* border-bottom: 1px solid #544c4c4d; */
    padding-bottom: 12px;
    font-weight: 600;

}
.head-div h1{
    color:#0070D2;
    font-size: 24px;
    line-height: 24px;
    /* font-family: 'Roboto'; */
    letter-spacing: 0.2px;
    font-weight: 600;
}
.list-container {
    height: 190px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    flex-direction: column;
    width: 100%;
    /* max-height: 300px; /* Adjust the height as needed */
    /* overflow-y: auto;
    position: relative;
    border: 1px solid #ccc; */ 

}
.list-item {
    padding: 7px;
    display: flex
;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    border: 1px solid #778997;
    width: 100%;
    border-radius: 4px;
}

.list-item:hover{
    background-color: #afafaf38;
    /* color: white; */
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.month-row div{
    display: flex;
    justify-content: start;
}
.selectedtime{
    background-color: #0176d3 !important;
    color: white;
    /* border-radius: 16px; */
}
.card {
    --lwc-varSpacingVerticalSmall:0px !important;
    /* --lwc-spacingXSmall : 0px !important; */
}
.custom_section{
    margin-right: 36px;
    margin-left: 16px;
    border-radius: 4px;
    height: 48px;
    background: #f3f3f3;

}
.custum-class{
    margin-right: 36px;
    margin-left: 36px;
    margin-top: 36px;
}
.combobox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .combobox-label {
    margin: 0;
    /* Optional: Styling for the label */
  }
  .bottom-div{
    margin-bottom: -8px;
    background: #F3F3F3;
    border-top: 2px solid #C9C9C9;
    display: flex;
    justify-content: center;
    align-items: center;

  }