.button{
    --slds-c-button-spacing-block-start: 0.3rem;
    --slds-c-button-spacing-block-end: 0.3rem;
}


.custom-popover {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.calendar-card {
    width: 100% !important;
    max-width: 100%;
    padding: 1rem; /* Add padding for better appearance */
}

.header-card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.slds-card__body {
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* Responsive styling for screens 1024px or less */
@media screen and (max-width: 1220px) {
    .calendar-card {
        padding: 0.5rem;
    }

    .filters {
        flex-wrap: wrap; 
        /* gap: 0.5rem;  */
    }

    .providor {
        /* margin-top: 1rem;  */
        margin-left: auto;
        /* margin-right: 2.8rem; */
    }

    .slds-media__body {
        font-size: 0.9rem; 
    }
}
@media screen and (min-width: 1220px) and (max-width: 1440px) {
    .responsive-button {
        --sds-c-button-font-size: 0.8rem; /* Adjust font size */
        --sds-c-button-padding-horizontal: 0.5rem; /* Adjust padding */
        --sds-c-button-line-height: 1.5; /* Adjust line height */
    }

    .responsive-button-menu {
        --sds-c-button-font-size: 0.8rem; /* Adjust menu button font size */
        --sds-c-button-padding-horizontal: 0.5rem; /* Adjust padding */
    }
}


/* Further adjustments for very small screens (mobile) */
@media screen and (max-width: 768px) {
    .calendar-card {
        padding: 0.25rem;
    }

    /* .filters {
        flex-direction: column; 
        gap: 1rem; 
    } */
    .filters {
        flex-wrap: wrap; 
        /* gap: 0.5rem;  */
    }

    .providor {
        /* margin-top: 1rem;  */
        margin-left: auto;
        /* margin-right: 2.8rem; */
    }

    .buttons {
        align-items: stretch; /* Make buttons take full width */
        justify-content: center;
    }

    lightning-combobox {
        width: 100%; /* Make dropdowns take the full width */
    }

    lightning-button {
        width: 100%; /* Full-width buttons */
    }

    .custom-popover {
        width: 90%; /* Adjust popover width for small screens */
    }
}