.video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-box {
    width: 300px;
    height: 200px;
    background: #000;
}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}